.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    padding: 0.5rem;
    overflow-x: hidden;
}

.navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    font-size: large;
    margin: 1.2rem;
    border-radius: 1rem;
    height: 34px;
    width: 111px;
    padding-top: 0.5rem;
}

.navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
}



/* Adjusted in index for now */
/* .navbar-link:hover {
    color: violet;
}

a{color: rgb(13, 13, 13);

} */