.productImage {
    width: 100%; /* Adjust as needed */
    max-width: 600px; /* Example maximum width */
    margin: 3rem auto; /* Center image horizontally with 3rem margin top and bottom */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
}

/* Full page sections are stacked on top of each other */
/* .FullPage {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.TopOfPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */


